:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*PALETA DE COLORES GLOBALES*/
  --color-claro: rgb(253, 251, 242);
  --color-beige: rgb(229, 213, 185);
  --color-naranja: rgb(255, 157, 35);
  --color-rojo-oscuro: rgb(193, 70, 0);
}
