:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*PALETA DE COLORES GLOBALES*/
  --color-claro: rgb(251, 250, 247);
  --color-beige: rgb(251, 233, 203);
  --color-naranja: rgb(255, 157, 35);
  --color-rojo-oscuro: rgb(193, 70, 0);
}
